.header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin: 0 auto 70px;
  border-bottom: 1px solid #DAEFEA;
  position: fixed;
  z-index: 10;
}

.header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header .header-left h1 img.logo {
  width: 200px;
  height: auto;
}

.header .header-left .nav {
  display: flex;
  color: #495057;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 0 24px;
}

.header .header-left .nav li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 8px;
  border-radius: 5px;
}

.header .header-left .nav li.active {
  color: #15A881;
}

.header .header-left .nav li:hover,
.header .header-left .nav li :active {
  color: #15A881;
  background-color: rgba(66, 99, 235, 0.03);
}

.header .header-right {
  gap: 30px;
}

.header .header-right .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.header .header-right .profile-icon {
  width: 24px;
  height: 24px;
  line-height: 100%;
  background-color: #BAC8FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-right .profile-icon__alphabet {
  text-transform: capitalize;
  font: 1rem;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  user-select: none;
}

.header .header-right .profile-id {
  gap: 6px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 100%;
  color: #495057;
  cursor: pointer;
  padding: 6px 4px;
}

.header .header-right .profile-id:hover {
  opacity: 0.9;
}

.header .header-right .profile-id__name {
  display: block;
}

.header .header-right .profile-id__icon {
  display: inline-block;
}

.header .header-right .profile-id__icon .icon-down {
  width: 16px;
  height: 16px;
}

.header .header-right .acount {
  display: none;
  width: 140px;
  position: absolute;
  z-index: 10;
  top: 48px;
  right: 30px;
}
