/* -------------------- Resetting margins, paddings, and borders -------------------- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* -------------------- Typography -------------------- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  font-size: 62.5% !important;
  /* Must -> 10px , 1em , 1rem */
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border: 1px dashed #C0D7CF;
  width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.none {
  display: none;
}

.helper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 6px;
}
.helper img {
  vertical-align: baseline;
}
.helper .helper-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 1.2rem;
  font-weight: 400;
  color: #37303F;
  text-align: left;
  border-radius: 10px;
  padding: 12px 16px;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}
.helper .helper-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.helper:hover .helper-tooltip {
  visibility: visible;
  opacity: 1;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}

.w480 {
  max-width: 480px !important;
  width: 100%;
}

.w640 {
  max-width: 640px !important;
  width: 100%;
}

.w760 {
  max-width: 760px !important;
  width: 100%;
}

.w960 {
  max-width: 960px !important;
  width: 100%;
}